footer {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-area: footer;
    background-color: rgb(126, 0, 0);
    width: 100%;
  }