/* MAIN PRODUCTOS */

.main-productos {
  background-color: rgb(0, 92, 0);
}

.flex-productos {
  display: flex;
  gap: 10px;
  img {
    border-radius: 10px;
  }
}

.productos-titulo {
  display: flex;
  height: 100px;
  width: 50%;
  margin-left: 750px;
}

.titulo2-productos {
  color: rgb(187, 27, 27);
  display: flex;
  font-family: "Signika Negative", sans-serif;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.articulos {
  @include flex-propiedades;
  flex-wrap: wrap;
  img {
    display: flex;
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: 100px;
  }
}
